<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form th:action="${link}" method="post">
		<div>
			<label>Old password</label>
			<input type="password" name="oldPassword">
		</div>
		<div>
			<label>New password</label>
			<input type="password" name="newPassword">
		</div>
		<div>
			<label>Repeat new password</label>
			<input type="password" name="newPasswordVerified">
		</div>
		<input type="hidden" name="v" th:value="${v}">
		<input type="hidden" name="s" th:value="${s}">
		<button type="submit">Change</button>
	</form>
</body>
</html>